body {
  font-family: Arial;
  font-weight: lighter;
  color: #555;
}

.navbar {
  height: 150px;
  padding: 10px 60px 90px 60px;
}

.recent-posts {
  width: 30%;
  margin: 0 30px 0 80px;
  position: sticky;
}

.content {
  width: 53%;
}


.share-buttons {
  width: 5%;
  margin-left: 100px;
  position: sticky;
}

.flex-horizontal {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.grow {
  flex-grow: 1;
}

span {
  font-size: 14px;
  line-height: 2em;
  padding: 0 20px 0 0;
}

p {
  font-size: 16px;
  line-height: 1.3em;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  line-height: 1.8em;
}

hr {
  margin: 40px 0;
  color: black;
}

li {
  margin: 20px 0;
}

.black {
  color: black;
}

.content-card {
  padding: 10px 40px;
}

.img-small {
  height: 90px;
}

.img-big {
  height: 400px;
  padding: 30px 0;
}

.logo {
  height: 22px;
}

.search-bar {
  margin-bottom: 50px;
  color: gray;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 5px;
}
