html {
  --navHeight: 200px;
}

body {
  font-family: Helvetica;
  line-height: 1.3;
  word-break: break-word;
}

h1 {
 font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  padding: 30px;
  text-align: center;
}

h4 {
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 33.3%;
}

.width-100 {
  width: 100%;
}

.height-80 {
  height: calc(100vh - var(--navHeight) - 4px);
}

.white {
  color: white;
}

.black-bg {
  background-color: black;
}

.red-bg {
  background-color: #f2653a;
}

.purple-bg {
  background-color: #d842f0;
}

.blue-bg {
  background-color: #488cf2;
}

.ocre-bg {
  background-color: #b58b1f;
}

.flex-horizontal {
  display: flex;
}

.padding-20 {
  padding: 20px;
}

.navbar {
  height: var(--navHeight);
}

.vertical-text {
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: top;
}

.fit {
  box-sizing: border-box;
}

.border {
  border: 2px solid black;
  margin: -1px;
}
